# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/zombie/zombie.VC.VC.opendb
/zombie/zombie.VC.db
/zombie/zombie/zombie.vcxproj
/zombie/zombie/zombie.vcxproj.filters
/zombie/.vs/zombie/v14
/zombie/ipch/ZOMBIE-d3f2bfb
/zombie/zombie/Debug/zombie.tlog/zombie.lastbuildstate
/zombie/zombie/Debug/zombie.tlog/link.write.1.tlog
/zombie/zombie/Debug/zombie.tlog/link.read.1.tlog
/zombie/zombie/Debug/zombie.tlog/link.command.1.tlog
/zombie/zombie/Debug/zombie.tlog/CL.write.1.tlog
/zombie/zombie/Debug/zombie.tlog/CL.read.1.tlog
/zombie/zombie/Debug/zombie.tlog/CL.command.1.tlog
/zombie/zombie/Debug/zombie.log
/zombie/zombie/Debug/vc140.pdb
/zombie/zombie/Debug/vc140.idb
/zombie/Debug/zombie.pdb
/zombie/Debug/zombie.ilk
